@model ZenithDataLib.Models.Event

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Event</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EventId)

        <div class="form-group">
            @Html.LabelFor(model => model.Start, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3 col-xs-10">
                <div class='input-group date' id='datetimepicker1'>
                    @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control" } })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                    @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
                </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.End, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3 col-xs-10">
                <div class='input-group date' id='datetimepicker2'>
                    @Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "form-control" } })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                    @Html.ValidationMessageFor(model => model.End, "", new { @class = "text-danger" })
                </div>
        </div>
        <script type="text/javascript">
                var j = jQuery.noConflict();
                
                j(document).ready(function () {

                    j('#datetimepicker1').datetimepicker({ format: 'YYYY-MM-DD hh:mm' });
                    j('#datetimepicker2').datetimepicker({ format: 'YYYY-MM-DD hh:mm' });
                });
                
        </script>
        @Html.Hidden("CreatedBy", Model.CreatedBy)
        @Html.Hidden("ActivityId", Model.ActivityId)
        @Html.Hidden("CreationDate", DateTime.Now)

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
